*{
    margin: 0;
    padding: 0;
    background-size: 100%;
}
.GreatDiv{
    border:  rgba(158, 152, 152, 0.856);
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width:100%;
    }
    .selection{
    width:21%;
    background-color: rgba(158, 152, 152, 0.856);
    
    
    }
    .bouton{
        cursor:pointer;
        width:97%;
        height:60px;
        border-radius: 7px;
        margin-bottom: 5px;
        margin-top: 5px;
        margin-left: 4px;
        border: black solid 2px;
    }
    .colors{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 79px;
    grid-gap: 3px;
    margin-left: 5px;
    margin-right: 4px;
    margin-bottom: 3px;
    
    }
    .couleur{
    box-sizing:border-box;
    border: solid black 1px;
    }
   .noir{
        border: solid white 1px;
    }
    .grilles{
    display: grid;
    grid-template-columns:repeat(55,1fr);
    grid-auto-rows: 25.5px;
    width: 80%;
    border:solid rgba(158, 152, 152, 0.856);
    }
    .laGrille{
    border:solid rgba(158, 152, 152, 0.856) 1.5px;
    box-sizing:border-box;
    }
    
